@model Parcial.Models.Producto

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Delete</h2>

<h3>Esta seguro de Eliminar?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioPublico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioPublico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFabricacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFabricacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCaducaion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCaducaion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Provedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provedor.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
